@using OneVietnam.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    string query = ViewBag.Query;
}

<div class="ui blue inverted segment">
    <div class="ui centered header" id="displayQuery">
        <p>@query</p>
    </div>
</div>

<div class="ui grid">
    <div class="four wide column">

    </div>
    <div class="nine wide column">
        <div class="ui pointing secondary two item tabular menu">
            <div class="item active" data-tab="post">
                Bài Viết
            </div>
            <div class="item" data-tab="friend">
                Bạn Bè
            </div>

        </div>

        <div class="ui tab active" data-tab="post">

            <div class="post grids">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                <div class="ui link cards" id="postScroll">
                    @Html.Partial("_PostRow", (ViewBag.Posts as List<PostViewModel>))
                </div>
            </div>
        </div>
        <div class="ui tab" data-tab="friend">
            <div class="friend grids">
                    <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                                <div class="ui link cards" id="friendScroll">
@*                    @Html.Partial("_PostRow", (ViewBag.Users as List<PostViewModel>))*@
                </div>

            </div>
        </div>
    </div>

    <div class="three wide column"></div>
</div>
<script src="~/Scripts/infiniteScroll.js"></script>
<script type="text/javascript">
    var forLoad = $("#postScroll");
    var grid = $(".post.grids");
    var moreRowsUrl = '@Url.Action("Index","Search")';
    $(function () {
        $(".tabular.menu")
            .on("click",
                ".item",
                function e() {
                    
                    
                    var currentTab = $(".ui.tab.active").attr("data-tab");
                    if (currentTab == "friend") {
                        grid = $(".friend.grids");
                        moreRowsUrl = '@Url.Action("Index","Search")';
                         forLoad = $("#friendScroll");
                    } else {
                        grid = $(".post.grids");
                        moreRowsUrl = '@Url.Action("Index","Newsfeed")';
                        forLoad = $("#postScroll");
                    }
                });

    });

 

    $(window).scroll(scrollHandler);
</script>