@model IEnumerable<OneVietnam.Models.AddLocationViewModel>
@using OneVietnam.DTL

@{
    ViewBag.Title = "ShowMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<Icon> postTypes = ViewData["PostTypes"] as List<Icon>;
}
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=1615798268744410";
        fjs.parentNode.insertBefore(js, fjs);

    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    var isAuthenticated;
    var authenticatedUser;
    var top5PostList;
    //ViewData["PostTypes"] = IconList;

    $(window).load(function() {
        @if (@ViewBag.XCoordinate != null)
        {
            @:setTimeout(function() {  showSelectedPostOnMap(@ViewBag.XCoordinate , @ViewBag.YCoordinate, @ViewBag.PostType, '@ViewBag.PostId', 1); }, 1000);

            @*@:alert('@ViewBag.PostId');*@
                }
    });
</script>

@using Microsoft.AspNet.Identity
@using OneVietnam.Models;
@if (Request.IsAuthenticated)
{
    <script>
        isAuthenticated = true;

        $.ajax({
            url: '/Map/GetUserInfo?userId=' + "@User.Identity.GetUserId()",
            type: 'GET',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (json) {
                authenticatedUser = {x:json.Location.XCoordinate,y:json.Location.YCoordinate,address:json.Location.Address};

            }
        });
    </script>
}
else
{
    <script>
        isAuthenticated = false;
    </script>
}

<head>
    <meta charset="utf-8" />
    <title>Bản đồ tìm kiếm</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Map/mappagecustom.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Map/map.css">
    <script src="~/Scripts/MapElements.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/Map.js" language="javascript" type="text/javascript"></script>

    <script type="text/javascript">


        var allUsers = [];
        var males = [];
        var females = [];
        var LGBT = [];
        var PostArray = [];
        var postType3 = [], postType4 = [], postType5 = [], postType6= [],postType7 = [],postType8 = [], postType9 = [];

        @foreach (var item in Model) {
        <text>
        if('@item.PostId' == ''){
            allUsers.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
            if(@item.Gender == 0){
                males.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
            }else
                if(@item.Gender == 1){
                    females.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
                }else
                    if(@item.Gender == 2){
                        LGBT.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
                    }

        } else {
            switch (@item.PostType) {
                case 3: postType3.push({postID: '@item.PostId',  x: @item.X, y: @item.Y}); break;
                case 4: postType4.push({postID: '@item.PostId',  x: @item.X, y: @item.Y}); break;
                case 5: postType5.push({postID: '@item.PostId',  x: @item.X, y: @item.Y}); break;
                case 6: postType6.push({postID: '@item.PostId',  x: @item.X, y: @item.Y}); break;
                case 7: postType7.push({postID: '@item.PostId',  x: @item.X, y: @item.Y}); break;
                case 8: postType8.push({postID: '@item.PostId',  x: @item.X, y: @item.Y}); break;
                case 9: postType9.push({postID: '@item.PostId',  x: @item.X, y: @item.Y}); break;
            }
            @*if(@item.PostType.CompareTo(0) == 0)
            {
                postType3.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
            }
            else*@
                @*if (@item.PostType.CompareTo(1) == 0)
                {
                    postType1.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                }
                else
                    if (@item.PostType.CompareTo(2) == 0)
                    {
                        postType2.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                    }
                    else
                        if (@item.PostType.CompareTo(3) == 0)
                        {
                            postType3.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                        }
                        else
                            if (@item.PostType.CompareTo(4) == 0)
                            {
                                postType4.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                            }
                            else
                                if (@item.PostType.CompareTo(5) == 0)
                                {
                                    postType5.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                                }
                                else
                                    if(@item.PostType.CompareTo(8) == 0){
                                        postType8.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                                    }*@
        }
        </text>
        }
    </script>


    <style>
        .sidenav {
            height: 100%;
            width: 380px;
            position: fixed;
            z-index: 1;
            /*top: 0;*/
            left: 0;
            background-color: white;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 0px;
        }

            .sidenav a {
                /*padding: 8px 8px 8px 32px;*/
                text-decoration: none;
                /*font-size: 25px;*/
                color: #818181;
                display: block;
                transition: 0.3s;
            }

        .userInfoModal a {
            /*font-size: 25px;*/
            width: 100%;
            color: #818181;
            text-align: left;
            font-size: 20px;
        }

        /*.sidenav a:hover, .offcanvas a:focus {
                    color: #f1f1f1;
                }*/

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px !important;
            margin-left: 50px;
        }

        #button {
            display: inline-block;
            color: white;
            padding: 0 5px;
        }

        #button2 {
            /*position: absolute;
                display: inline-block;
                max-width: 0;*/
            overflow: hidden;
            transition: all 1s ease-in;
        }

        #button:hover + span {
            max-width: 200px;
        }
    </style>


</head>

<div class="ui stackable container" style="width:100%;height:100%;position:relative;overflow:hidden;">

    <div id="map_canvas" style="width:100%;height:100%;margin-top:0px !important;margin-left:0px!important;margin-right:0px!important; overflow:hidden;"></div>
    <div class="ui icon input" style=" position: absolute; left: 40% !important; top: 8px !important;">
        <input id="pac-input2" type="text" placeholder="Tìm kiếm địa điểm...">
        <i class="search icon"></i>
    </div>
    <div class="ui vertical buttons" id="locationGroup" style="position: fixed; right: 12px; top: 60%;">
        <button type="submit" class="ui icon green button" id="location" onclick="showCurrentLocation()" data-tooltip="Vị trí hiện tại" data-position="left center">
            @*<i class="location arrow icon"></i>*@
        </button>
        @if (Request.IsAuthenticated)
        {
            <button type="submit" class="ui icon green button" id="myLocation" onclick="showMyLocation()" data-tooltip="Vị trí của tôi" data-position="left center"></button>
        }

    </div>
    <div class="ui vertical buttons" id="filterGroup" style="position: absolute; right: 15px; top: 5%;">

        <button type="submit" class="ui icon red button " id="filterHelp" onclick="showSOS()" data-tooltip="Nhờ giúp đỡ" data-position="left center">
            @*<i class="warning icon"></i>*@
        </button>

        <button type="submit" class="ui blue icon button" id="filterHome" onclick="showAccommodation();accommodationEnlarge()" data-tooltip="Nhà ở" data-position="left center">
            @* <i class="home icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterJob" onclick="showJobOffer(), jobEnlarge()" data-tooltip="Việc làm" data-position="left center">
            @*<i class="doctor icon"></i>*@
        </button>
        <button type="submit" class="ui icon blue button" id="filterFurnitureOffer" onclick="showFurnitureOffer()" data-tooltip="Cho đồ/Đổi đồ" data-position="left center">
            @*<i class="cubes icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterHandGoodsOffer" onclick="showHandGoodsOffer()" data-tooltip="Xách tay" data-position="left center">
            @*  <i class="plane icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterSalesOffer" onclick="showTradeOffer()" data-tooltip="Bán đồ" data-position="left center">
            @*<i class="money icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterWarning" onclick="showWarning()" data-tooltip="Cảnh báo" data-position="left center">
            @*<i class="money icon"></i>*@
        </button>
    </div>
    <div class="ui buttons" id="genderFilter" style="position: absolute; left: 43% ; bottom: 3% ;">

        <button type="submit" class="ui icon green button" id="filterMale" data-tooltip="Nam" data-position="top center" onclick="showMales()">
            @*<i class="male icon"></i>*@
        </button>

        <button type="submit" class="ui icon pink button" id="filterFemale" data-tooltip="Nữ" data-position="top center" onclick="showFemales()">
            @*<i class="female icon"></i>*@
        </button>

        <button type="submit" class="ui icon purple button" id="filterLGBT" data-tooltip="Giới tính khác" data-position="top center" onclick="showLGBT()">
            @*<i class="transgender icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterUsers" data-tooltip="Tất cả người dùng" data-position="top center" onclick="showUsers()">
            @*<i class="users icon"></i>*@
        </button>
    </div>

    <div id="dat">
        <div id="mySidenav" class="sidenav scrollbar" style="position:absolute;left:0px;top:0px;overflow-y:auto;">
            @{
                List<PostInfoWindowModel> list = new List<PostInfoWindowModel>();
                list = ViewBag.topPostModel;
                @Html.Partial("_SidenavPost", (list));

            }
        </div>

        <div id="aa" onclick="toggle()" class="ui blue big centered launch right attached fixed button" style="position: fixed; background: rgb(167, 210, 203); left: 0px; margin-left:380px;top:40%;transition: margin-left .5s;width:40px;">
            <div style="position:relative;">
                <i id="button" class="arrow left icon"></i>
            </div>
        </div>
    </div>
    <div class="ui basic modal " id="postModal" style="position: absolute !important; left: 20% !important; height: 1000px; width: 640px;"> 
    </div>

    <div class="ui modal" id="userModal" style="height:250px ;width:500px ;position: absolute; left:65%;">
    </div>
</div>
<script defer src="~/Scripts/OverlappingMarkerSpiderfier.js"></script>


<script>
    var moreRowsUrl = '/Map/GetMorePost';
    var page = 1;

    $("#mySidenav").scroll(function () {
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
            loadMorePost(moreRowsUrl);
        }
    });

    function loadMorePost(loadMoreRowsUrl) {
        if (page > -1) {
            page++;
            $.ajax({
                type: 'GET',
                url: loadMoreRowsUrl + '?pageNum=' + page,
                //data: "pageNum=" + page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $('#mySidenav').append(data);
                    }
                    else {
                        page = -1;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    }

</script>
