@model IEnumerable<OneVietnam.Models.AddLocationViewModel>

@{
    ViewBag.Title = "ShowMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var isAuthenticated;
    var authenticatedUser;
</script>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <script>
        isAuthenticated = true;

        $.ajax({
            url: '/Map/GetUserInfo?userId=' + "@User.Identity.GetUserId()",
            type: 'GET',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (json) {
                authenticatedUser = {x:json.Location.XCoordinate,y:json.Location.YCoordinate,address:json.Location.Address};

            }
        });
    </script>
}
else
{
    <script>
        isAuthenticated = false;
    </script>
}

<head>
    <meta charset="utf-8" />
    <title>Bản đồ tìm kiếm</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Map/mappagecustom.css">
    <script src="~/Scripts/MapElements.js" language="javascript" type="text/javascript"></script>
    <script type="text/javascript">

        var allUsers = [];
        var males = [];
        var females = [];
        var LGBT = [];
        var PostArray = [];
        var postType0 = [],postType1 = [],postType2 = [],postType3=[],postType4=[],postType5=[];

        @foreach (var item in Model) {
        <text>
        if('@item.PostId' == ''){
            allUsers.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
            if(@item.Gender == 0){
                males.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
            }else
                if(@item.Gender == 1){
                    females.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
                }else
                    if(@item.Gender == 2){
                        LGBT.push({x :@item.X ,y : @item.Y, userID :'@item.UserId'});
                    }

        } else {
            if(@item.PostType.CompareTo(0) == 0)
            {
                postType0.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
            }
            else
                if (@item.PostType.CompareTo(1) == 0)
                {
                    postType1.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                }
                else
                    if (@item.PostType.CompareTo(2) == 0)
                    {
                        postType2.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                    }
                    else
                        if (@item.PostType.CompareTo(3) == 0)
                        {
                            postType3.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                        }
                        else
                            if (@item.PostType.CompareTo(4) == 0)
                            {
                                postType4.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                            }
                            else
                                if (@item.PostType.CompareTo(5) == 0)
                                {
                                    postType5.push({postID: '@item.PostId',  x: @item.X, y: @item.Y});
                                }
        }
        </text>
        }
    </script>


    <style>
        .sidenav {
            height: 100%;
            width: 380px;
            position: fixed;
            z-index: 1;
            /*top: 0;*/
            left: 0;
            background-color: white;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 0px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover, .offcanvas a:focus {
                    color: #f1f1f1;
                }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px !important;
            margin-left: 50px;
        }

        #button {
            display: inline-block;
            color: white;
            padding: 0 5px;
        }

        #button2 {
            /*position: absolute;
                display: inline-block;
                max-width: 0;*/
            overflow: hidden;
            transition: all 1s ease-in;
        }

        #button:hover + span {
            max-width: 200px;
        }
    </style>

    <style>
        #wrapper {
            margin: 0px;
            border-bottom: 1px solid #E2E2E2;
            /*padding-top: 2px;*/
            background-color: white;
            padding: 3px 5px 3px 5px;
        }
    </style>
    <style>
        #filterHome {
            background: url(../Content/Icon/home.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterHome:hover {
                transform: scale(2);
            }

        #filterHelp {
            background: url(../Content/Icon/help.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterHelp:hover {
                transform: scale(2);
            }

        #filterJob {
            background: url(../Content/Icon/job.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterJob:hover {
                transform: scale(2);
            }


        #filterFurnitureOffer {
            background: url(../Content/Icon/free.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterFurnitureOffer:hover {
                transform: scale(2);
            }

        #filterHandGoodsOffer {
            background: url(../Content/Icon/ship.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterHandGoodsOffer:hover {
                transform: scale(2);
            }

        #filterSalesOffer {
            background: url(../Content/Icon/sale.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterSalesOffer:hover {
                transform: scale(2);
            }

        #filterUsers {
            background: url(../Content/Icon/Users.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterUsers:hover {
                transform: scale(2);
            }

        #filterMale {
            background: url(../Content/Icon/male.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterMale:hover {
                transform: scale(2);
            }

        #filterFemale {
            background: url(../Content/Icon/female.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterFemale:hover {
                transform: scale(2);
            }

        #filterLGBT {
            background: url(../Content/Icon/LGBT.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #filterLGBT:hover {
                transform: scale(2);
            }

        #location {
            background: url(../Content/Icon/location.png);
            width: 40px;
            height: 40px;
            border: 3px;
            background-size: 100%; /* To fill the dimensions of container (button), or */
            background-size: 40px auto; /* to specify dimensions explicitly */
            transition: transform .5s;
            background-repeat: no-repeat;
        }

            #location:hover {
                transform: scale(2);
            }
        /* Popup */

        [data-tooltip]:after {
            pointer-events: none;
            content: attr(data-tooltip);
            position: absolute;
            text-transform: none;
            text-align: left;
            white-space: nowrap;
            font-size: 0.5rem !important;
            border: 1px solid #D4D4D5;
            line-height: 1em;
            max-width: none;
            background: #FFFFFF;
            padding: 1em 2em 2em 2em;
            font-weight: normal;
            font-style: normal;
            color: rgba(0, 0, 0, 0.87);
            border-radius: 0.28571429rem;
            box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
            z-index: 1;
        }
    </style>
</head>

<div class="ui stackable container" style="width:100%;height:85%;position:relative;">

    <div id="map_canvas" style="width:100%;height:100%;margin-top:0px !important;margin-left:0px!important;margin-right:0px!important;"></div>
    <div class="ui icon input" style=" position: absolute; left: 40% !important; top: 8px !important;">
        <input id="pac-input2" type="text" placeholder="Tìm kiếm địa điểm...">
        <i class="search icon"></i>
    </div>

    <button type="submit" class="ui icon green button" id="location" onclick="showCurrentLocation()" data-tooltip="Vị trí hiện tại của tôi" data-position="left center" style=" position: absolute;right: 7px;bottom:23%">
        @*<i class="location arrow icon"></i>*@
    </button>

    <div class="ui vertical buttons" id="filterGroup" style="position: absolute; right: 15px; top: 20%;">

        <button type="submit" class="ui icon red button " id="filterHelp" onclick="showSOS()" data-tooltip="Nhờ giúp đỡ" data-position="left center">
            @*<i class="warning icon"></i>*@
        </button>

        <button type="submit" class="ui blue icon button" id="filterHome" onclick="showAccommodation();accommodationEnlarge()" data-tooltip="Nhà ở" data-position="left center">
            @* <i class="home icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterJob" onclick="showJobOffer(), jobEnlarge()" data-tooltip="Việc làm" data-position="left center">
            @*<i class="doctor icon"></i>*@
        </button>
        <button type="submit" class="ui icon blue button" id="filterFurnitureOffer" onclick="showFurnitureOffer()" data-tooltip="Cho đồ/Đổi đồ" data-position="left center">
            @*<i class="cubes icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterHandGoodsOffer" onclick="showHandGoodsOffer()" data-tooltip="Xách tay" data-position="left center">
            @*  <i class="plane icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterSalesOffer" onclick="showTradeOffer()" data-tooltip="Bán đồ" data-position="left center">
            @*<i class="money icon"></i>*@
        </button>
    </div>
    <div class="ui buttons" id="genderFilter" style="position: absolute; left: 43% ; bottom: 3% ;">

        <button type="submit" class="ui icon green button" id="filterMale" data-tooltip="Nam" data-position="top center" onclick="showMales()">
            @*<i class="male icon"></i>*@
        </button>

        <button type="submit" class="ui icon pink button" id="filterFemale" data-tooltip="Nữ" data-position="top center" onclick="showFemales()">
            @*<i class="female icon"></i>*@
        </button>

        <button type="submit" class="ui icon purple button" id="filterLGBT" data-tooltip="LGBT" data-position="top center" onclick="showLGBT()">
            @*<i class="transgender icon"></i>*@
        </button>

        <button type="submit" class="ui icon blue button" id="filterUsers" data-tooltip="Tất cả người dùng" data-position="top center" onclick="showUsers()">
            @*<i class="users icon"></i>*@
        </button>
    </div>
    <div id="mySidenav" class="sidenav scrollbar" style="position:absolute;left:0px;top:0px;">
        <div id="wrapper" class="segment" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
            <div class="iw-content" style="padding:5px;">
                <div id="navInfo" style="margin-left:3px;">
                    <img src="../Content/Images/pikachu.jpg" alt="Trần Trọng Tiến Đạt" height="115" width="115">
                </div>
                <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                    <table style="width:200px">
                        <tr>
                            <td><b>Địa điểm:</b></td>
                            <td>Oosaka</td>
                        </tr>
                        <tr>
                            <td><b>Facebook:</b></td>
                            <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                        </tr>
                        <tr>
                            <td><b>Đang offer:</b></td>
                            <td>Cho thuê nhà trọ</td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khác:</b></td>
                            <td>abcxyz</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
            <div class="iw-content" style="padding:5px;">
                <div id="navInfo" style="margin-left:3px;">
                    <img src="../Content/Images/rua.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
                </div>
                <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                    <table style="width:200px">
                        <tr>
                            <td><b>Địa điểm:</b></td>
                            <td>Oosaka</td>
                        </tr>
                        <tr>
                            <td><b>Facebook:</b></td>
                            <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                        </tr>
                        <tr>
                            <td><b>Đang offer:</b></td>
                            <td>Cho thuê nhà trọ</td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khác:</b></td>
                            <td>abcxyz</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
            <div class="iw-content" style="padding:5px;">
                <div id="navInfo" style="margin-left:3px;">
                    <img src="../Content/Images/poke_celebi.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
                </div>
                <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                    <table style="width:200px">
                        <tr>
                            <td><b>Địa điểm:</b></td>
                            <td>Oosaka</td>
                        </tr>
                        <tr>
                            <td><b>Facebook:</b></td>
                            <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                        </tr>
                        <tr>
                            <td><b>Đang offer:</b></td>
                            <td>Cho thuê nhà trọ</td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khác:</b></td>
                            <td>abcxyz</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
            <div class="iw-content" style="padding:5px;">
                <div id="navInfo" style="margin-left:3px;">
                    <img src="../Content/Images/chov.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
                </div>
                <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                    <table style="width:200px">
                        <tr>
                            <td><b>Địa điểm:</b></td>
                            <td>Oosaka</td>
                        </tr>
                        <tr>
                            <td><b>Facebook:</b></td>
                            <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                        </tr>
                        <tr>
                            <td><b>Đang offer:</b></td>
                            <td>Cho thuê nhà trọ</td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khác:</b></td>
                            <td>abcxyz</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
            <div class="iw-content" style="padding:5px;">
                <div id="navInfo" style="margin-left:3px;">
                    <img src="../Content/Images/pikachu.jpg" alt="Trần Trọng Tiến Đạt" height="115" width="115">
                </div>
                <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                    <table style="width:200px">
                        <tr>
                            <td><b>Địa điểm:</b></td>
                            <td>Oosaka</td>
                        </tr>
                        <tr>
                            <td><b>Facebook:</b></td>
                            <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                        </tr>
                        <tr>
                            <td><b>Đang offer:</b></td>
                            <td>Cho thuê nhà trọ</td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khác:</b></td>
                            <td>abcxyz</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="wrapper" style="height:150px;  border-bottom: 1px solid #E2E2E2;">
            <div class="iw-content" style="padding:5px;">
                <div id="navInfo" style="margin-left:3px;">
                    <img src="../Content/Images/chov.png" alt="Trần Trọng Tiến Đạt" height="115" width="115">
                </div>
                <div id="sectionInfo" style="position:absolute;margin-left:125px;">
                    <table style="width:200px">
                        <tr>
                            <td><b>Địa điểm:</b></td>
                            <td>Oosaka</td>
                        </tr>
                        <tr>
                            <td><b>Facebook:</b></td>
                            <td><a href="https://www.facebook.com/Dat3T">Dat3T</a></td>
                        </tr>
                        <tr>
                            <td><b>Đang offer:</b></td>
                            <td>Cho thuê nhà trọ</td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khác:</b></td>
                            <td>abcxyz</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div id="aa" onclick="toggle()" class="ui blue big centered launch right attached fixed button" style="position: absolute; left: 0px; margin-left:380px;top:40%;transition: margin-left .5s;width:60px;">
        <div style="position:relative;">
            <i id="button" class="arrow left icon"></i>
            @*  <span class="text" id="button2">Bài đăng</span>*@
        </div>
    </div>
</div>

<script defer src="~/Scripts/OverlappingMarkerSpiderfier.js"></script>

