@model OneVietnam.Models.ChangePasswordViewModel

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

@using (Ajax.BeginForm("ChangePassword", "Timeline", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ChangePassword"
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)    
    <div class="ui form" style="padding-left: 2rem">
        <div class="field">
            <label for="OldPassword">Mật khẩu hiện tại</label>
            <input data-val="true" id="OldPassword" name="OldPassword" type="password">            
        </div>
        <div class="field">

            <label for="NewPassword">Mật khẩu mới</label>
            <input data-val="true"  id="NewPassword" name="NewPassword" type="password">
        </div>
        <div class="field">

            <label for="ConfirmPassword">Xác nhận lại mật khẩu mới</label>
            <input data-val="true" id="ConfirmPassword" name="ConfirmPassword" type="password">
        </div>
        <div class="field">
            <input type="submit" value="Đổi">
            <input type="button" value="Hủy" onclick="cancelChangePassword()">
        </div>
    </div>

}

    

    
    














