@model OneVietnam.Models.ChangePasswordViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary()
<div class="ui selection list">
    <div class="ui item">
        @*@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "input-error-message" })*@
        Mật khẩu cũ:
        <div class="ui input">
            @Html.PasswordFor(m => m.OldPassword)
        </div>
    </div>
    <div class="ui item">
        @*@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "input-error-message" })*@
        Mật khẩu mới:
        <div class="ui input">
            
             @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div class="ui item">
        @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "input-error-message" })*@
        Xác nhận mật khẩu:
        <div class="ui input">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="ui item">
        <input class="positive ui button" type="submit"  value="Đổi" onclick="changePassword()" />
        <input class="negative ui button" type="submit" value="Hủy" onclick="cancelChangePassword()" />
    </div>
</div>










