
@using Microsoft.AspNet.Identity
@model OneVietnam.Models.TimelineViewModel
@{
    ViewBag.Title = "Timeline";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/timeline.js"></script>

@if (Model != null) //TODO them dieu kien user chua bi lock
{
    <div class="containers">

    @{
        var avatarLink = "/Content/Images/no-avatar.png";
        //var avatarLink = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_cover.jpg";
        if (Model.AvatarLink != null)
        {
            avatarLink = Model.AvatarLink;
        }
    }                
        <a href="#"><img src="@avatarLink" alt="cover" class="cover" /></a>

        <div class="hero">

            <div class="details">

                <div class="title1">@if(Model.UserName != null) {@Model.UserName}</div>

                <div class="title2">The Battle of the Five Armies</div>

                <span class="likes">109 likes</span>

            </div> <!-- end details -->

        </div> <!-- end hero -->

        <div class="ui grid">

            <div class="three wide column">

            </div> <!-- end column1 -->

            <div class="eleven wide column">


                <div class="ui pointing secondary tabular menu">
                    @{
                        var postCount = 0;
                        if (Model.PostList != null && Model.PostList.Count > 0)
                        {
                            postCount = Model.PostList.Count;
                        }
                    }
                    <div class="item active" data-tab="timeline">Bài đăng
                        <div class="ui teal   label">@postCount</div>
                    </div>
                    <div class="item" data-tab="profile" onclick="showProfileForm('@Model.Id')">Giới thiệu</div>
                    @if (Model.Id.Equals(User.Identity.GetUserId()))
                    {
                        <div class="item" data-tab="setting">Cài đặt</div>
                    }

                </div>
                <div class="ui tab active" data-tab="timeline">
                    @{
                        if (Model.PostList != null && Model.PostList.Count > 0)
                        {
                            <div class="grids">
                                <div class="grid-sizer"></div>
                                <div class="gutter-sizer"></div>
                                @{
                                    foreach (var postView in Model.PostList)
                                    {
                                        @Html.Partial("../Shared/_ShowPostDetail", postView)
                                    }
                                }

                            </div>

                         }
                    }


                </div>
                <div class="ui tab" data-tab="profile">
                    @*Show profile*@
                    <div id="ShowProfile"></div>
                    <div id="EditProfile"></div>
                </div>


                @if (Model.Id.Equals(User.Identity.GetUserId()))
                {
                <div class="ui tab" data-tab="setting">
                    <div class="ui segment">
                        <div class="ui middle aligned selection list">
                            @{
                                string value = "Tắt";
                                if (Model.Setting.TwoFacterEnabled == false)
                                {
                                    value = "Bật";
                                }
                            }
                            <div class="ui item" style="width: 100%; padding: 0">
                                <div class="ui horizontal list" style="width: 100%; padding: 0">
                                    <div class="ui item">
                                        <div class="ui medium header">
                                            <i class="protect icon"></i>
                                            <div class="content">
                                                Bảo mật hai lớp
                                                <div class="sub header">Bật bảo mât hai lớp để nâng cao bảo mật</div>
                                            </div>                                           
                                        </div>
                                    </div>
                                    <div class="ui right floated item">
                                        <button class="ui toggle button" onclick="enableTwoFactorAuthentication()">@value</button>
                                    </div>
                                </div>
                                

                            </div>

                            @if (Model.Setting.HasPassWord)
                            {
                                <div class="ui item" style="width: 100%; padding: 0">
                                    <div class="ui horizontal list" style="width: 100%; padding: 0">
                                        <div class="ui item">
                                            <div class="ui medium header">
                                                <i class="privacy icon"></i>
                                                <div class="content">
                                                    Mật khẩu
                                                    <div class="sub header" id="ShowPassword">Thay đổi mật khẩu thường xuyên để nâng cao bảo mật hơn</div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui right floated middle aligned item">
                                            <input type="button" class="ui right floated teal button" id="btnChangePass" value="Đổi mật khẩu" onclick="showChangePasswordForm()" />
                                        </div>
                                    </div>                                                                                                            
                                    <div id="ChangePassword"></div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
                }


                <!-- end avatars -->



            </div> <!-- end column2 -->
        </div> <!-- end description -->


    </div> <!-- end container -->
                            }
                            else
                            {
                                <div style="margin: auto; width: 40%">
                                    <div class="ui segment">
                                        <div class="ui centered header">
                                            <i class="warning circle icon"></i>
                                            Trang bạn tìm kiếm đã bị xóa hoặc không tồn tại
                                        </div>
                                    </div>
                                </div>

                            }
