
@model List<OneVietnam.Models.AdminPostViewModel>




<!-- Posts List -->

@if (Model != null && Model.Count > 0)
{
    <div class="ui grid">
        <div class="sixteen wide column">
            <div id="tbPostsDefault" style="width: 100%">
                <table class="ui celled table" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 3%;">STT</th>
                            <th style="width: 10%;">ID</th>
                            <th style="width: 15%;">Tiêu đề</th>                            
                            <th style="width: 10%;">Ngày tạo</th>
                            <th style="width: 28%;">Tình trạng</th>                            
                        </tr>
                    </thead>
                    <tbody>

                        @for (int index = 0; index < Model.Count; index++)
                        {
                            <tr id="Post_@Model[index].Id" style="width: 100%">
                                <td style="width: 3%;">@(index + 1)</td>
                                <td style="width: 10%;"><a href="@Url.Action("ShowPostDetail","Newsfeed", new {postId = Model[index].Id})">@Model[index].Id</a></td>
                                <td style="width: 15%;">@Model[index].Title</td>                                
                                <td style="width: 10%;">@($"{Model[index].CreatedDate.LocalDateTime:dd/MM/yyyy}")</td>
                                <td style="width: 28%;padding: 0">
                                    @Model[index].Status.ToString()
                                </td>                   
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}


