
@using OneVietnam.Models
@model OneVietnam.Models.AdministrationViewModel

@{
    ViewBag.Title = "ShowAdminPanel";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<div class="ui grid">
    <div class="one wide column">

    </div>

    <div class="fourteen wide column">

        <div class="ui segment">
            <div id="AdministrationsMenu">
                <div class="ui pointing secondary menu">
                    <a class="item active" data-tab="users"><i class="circular inverted users icon"></i>Người dùng</a>
                    <a class="item" data-tab="posts"><i class="circular inverted newspaper icon"></i>Bài đăng</a>
                    <a class="item" data-tab="reports"><i class="circular inverted bookmark icon"></i>Báo cáo</a>
                    <a class="item" data-tab="roles"><i class="circular inverted setting icon"></i>Quyền truy cập</a>
                </div>

                <!-- Users Managament -->
                <div class="ui tab active" data-tab="users">
                    <!-- Users Search Box -->
                    @using (Ajax.BeginForm("SearchUserMultipleQuery", "Search", null, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "UsersManagement"
                    }, new { id= "UserSearchAdminPanel" }))
                    {
                        <div class="ui grid">

                            <!-- Search by User Name -->
                            <div class="four wide column">
                                <div class="ui search" id="dvSearchUsers">
                                    <div class="ui left icon input" style="width: 100% !important">
                                        <i class="users icon"></i>
                                        <input class="prompt" id="txtSearchUserName" name="txtSearchUserName" type="text" placeholder="Tên người dùng" autocomplete="off">
                                    </div>
                                    <div class="force100 results"></div>
                                </div>
                            </div>

                            <!-- Search by Created Date -->
                            <div class="six wide column">
                                <label>Ngày đăng ký</label>
                                <input type="date" style="width: 37%" id="dtCreatedDateFrom" name="dtCreatedDateFrom" value="@($"{System.DateTimeOffset.UtcNow:yyyy-MM-dd}")"/>
                                <label>～</label>
                                <input type="date" style="width: 37%" id="dtCreatedDateTo" name="dtCreatedDateTo" value="@($"{System.DateTimeOffset.UtcNow:yyyy-MM-dd}")" />
                            </div>

                            <!-- Search by User Role-->
                            <div class="three wide column">                                
                                @if (Model?.Roles != null && Model.Roles.Count > 0)
                                {
                                    <div class="ui selection dropdown" id="drSearchUserRole" style="width: 100%; min-width: 150px; max-width: 100%;">
                                        <input type="hidden" name="txtSearchUserRole" id="txtSearchUserRole">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Quyền truy cập</div>
                                        <div class="menu">
                                            <div class="item" data-value="">Quyền truy cập</div>
                                            @foreach (var role in Model.Roles)
                                            {
                                                <div class="item" data-value="@role.Name">@role.Name</div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>

                            <!-- Search by Connection -->
                            <div class="three wide column">                                
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" id="chkIsOnline" name="chkIsOnline">
                                    <label>Đang online</label>
                                </div>
                            </div>

                        </div>
                    }

                    <!--Show search users result-->
                    <div id="UsersManagement">
                        @(Model?.Users != null ? Html.Partial("../Administration/_UsersManagementPanel", Model.Users) : Html.Partial("../Administration/_UsersManagementPanel", new List<UserManagementViewModel>()))
                    </div>
                </div>

                <!-- Posts Managament -->
                <div class="ui tab segment" data-tab="posts">
                    <div class="ui top attached tabular menu">
                        <a class="item active" data-tab="second/a">2A</a>
                        <a class="item" data-tab="second/b">2B</a>
                        <a class="item" data-tab="second/c">2C</a>
                    </div>
                    <div class="ui bottom attached tab segment active" data-tab="second/a">2A</div>
                    <div class="ui bottom attached tab segment" data-tab="second/b">2B</div>
                    <div class="ui bottom attached tab segment" data-tab="second/c">2C</div>
                </div>

                <!-- Reports Managament -->
                <div class="ui tab segment" data-tab="reports">
                    <div class="ui top attached tabular menu">
                        <a class="item active" data-tab="third/a">3A</a>
                        <a class="item" data-tab="third/b">3B</a>
                        <a class="item" data-tab="third/c">3C</a>
                    </div>
                    <div class="ui bottom attached tab segment active" data-tab="third/a">3A</div>
                    <div class="ui bottom attached tab segment" data-tab="third/b">3B</div>
                    <div class="ui bottom attached tab segment" data-tab="third/c">3C</div>
                </div>

                <!-- Roles Managament -->
                <div class="ui tab" data-tab="roles">
                    <div id="RoleManagement">
                        @(Model?.Roles != null ? Html.Partial("_RoleManagementPanel", Model.Roles) : Html.Partial("_RoleManagementPanel", new List<RoleViewModel>()))
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="one wide column">

    </div>
</div>
