
@using OneVietnam.DTL;
@using Microsoft.AspNet.Identity

@model OneVietnam.Models.AdminPostViewModel
@{
    List<Uri> blobs = ViewData["Blobs"] as List<Uri>;
}

<div class="ui grid">
    <div class="three wide column"></div>

    <div class="ten wide column">
        @using (Html.BeginForm("EditAdminPost", "Newsfeed", FormMethod.Post, new { enctype = "multipart/form-data", @class = "ui form", @id = "EditPostForm" }))
        {

            if (Model != null && (Model.DeletedFlag == false))
            {
                <div class="ui segment">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                    <!-- Title -->
                    <div class="field">
                        <h2 class="ui medium header" style="margin-bottom: 0">* Tiêu đề</h2>
                        <div class="ui input  focus">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { placeholder = "Nhâp tiêu đề..." } })
                        </div>
                    </div>                   

                    <!-- Description -->
                    <div class="field">
                        <label>* Mô tả </label>
                        @Html.TextAreaFor(model => model.Description, new { placeholder = "Thêm mô tả cho bài đăng", onkeydown = "setHeight()", onkeyup = "setHeight()", style = "text-align: justify; width: 100%; max-width: 100%;" })
                        <script type="text/javascript">
                        function setHeight() {
                            document.getElementById('Description').style.height = document.getElementById('Description').scrollHeight + 'px';
                        }
                        setHeight();
                        </script>
                    </div>                   

                    <!-- Illustration -->
                    <div class="field">
                        <label>Ảnh minh họa</label>
                        <div id="fine-uploader-gallery"></div>
                        @{
                            if (blobs != null)
                            {
                                foreach (Uri link in blobs)
                                {

                                    <div class="imageBlock">
                                        <a href="@link" target="_blank"><img class="thumb" src="@link" alt="images" /></a><br />
                                        <div class="deleteDiv"><img class="deleteIcon" src="~/Images/deleteImage.png" title="Delete Image" onclick="deleteImage('@link','@Model.Id');" /></div>
                                    </div>
                                }
                            }
                        }

                    </div>
                    <script>
                    function deleteImage(item, postid) {
                        var url = "/Newsfeed/DeleteImages";
                $.post(url, { Name: item, id: postid }, function (data) {
                    window.location.href = window.location.href;
                });
                }
                    </script>

                    <!-- Button Create and Cancel -->
                    <div class="field" style="text-align: center">
                        @Html.ActionLink("Hủy", "ShowPostDetail", "Newsfeed", new { postId = Model.Id }, new { @class = "ui cancel button" })
                        <input id="btnSaveEditPost" type="submit" value="Lưu" class="ui teal button" />
                    </div>

                    <!-- User ID, Post ID, Create Date -->
                    <div class="field" style="display: none">
                        @Html.EditorFor(model => model.Id)
                        @Html.EditorFor(model => model.UserId)
                        @Html.EditorFor(model => model.CreatedDate)
                        @Html.EditorFor(model => model.Status)
                    </div>
                </div>

                            }
                            else
                            {
                                @Html.Partial("../Shared/_NoSearchResult");
                                }

                            }
    </div>

    <div class="three wide column">

    </div>
</div>


