
@using OneVietnam.Models
@model OneVietnam.Models.ReportViewModal
<div class="ui small report modal coupled">
    <div class="header">
        Gửi báo cáo
    </div>
    @*@using (Html.BeginForm("ReportPost", "Newsfeed", FormMethod.Post, new {enctype = "multipart/form-data", id = "ReportSubmit"}))
    {*@
@using (Ajax.BeginForm("ReportPost", "Newsfeed", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ShowReportPost"
}))
{

        <div class="content">
            <div class="field">
                <div class="ui form">
                    @Html.TextAreaFor(model => model.ReportDescription, new {placeholder = "Nội dung muốn báo cáo"})
                </div>
                <div style="display: none">
                    @Html.EditorFor(model => model.PostId)
                    @Html.EditorFor(model => model.UserId)                    
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Hủy</div>
            <input class="ui green button" id="submitReport" value="Gửi" type="submit"/>
        </div>
        @*<script>
            $("#submitReport")
                .click(function() {
                    var desc = document.getElementById("Descript").value;
                    alert(desc);
                    var param = {
                        userId: "@Model.UserId",
                        postId: "@Model.PostId",
                        description: desc
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/Newsfeed/ReportPost',
                        data: param,
                        success: function() {
                            $('.report.modal').find('textarea').val('');
                            $('.report.modal').modal('hide');
                        }
                    });

                });
        </script>*@
    }
</div>


<div class="ui small second modal">
    <div class="header" style="text-align: center">
        Xin cảm ơn
    </div>
    <div class="content" style="text-align: center">
        Chúng tôi đã nhận được báo cáo của bạn về bài đăng này.<br/>
        Chúng tôi sẽ xem xét kỹ lưỡng về nội dung của bài đăng.<br/>
        Rất cảm ơn các bạn đã đóng góp cho OneVietnam.
    </div>
    <div class="actions">
        <div class="ui cancel button">Đóng</div>        
    </div>
</div>