@using Microsoft.AspNet.Identity
@using OneVietnam.Models
@model OneVietnam.Models.PostViewModel
<div class="ui  raised  segment " style="width: 631px !important">
    <div class="header">

        <img class="ui mini avatar image" src="@Model.AvartarLink">
        <a href="@Url.Action("Index","Timeline",new {userID=@Model.UserId})">@Model.UserName</a>

        <div class="right floated meta">
            @if (User.Identity.IsAuthenticated && (User.Identity.GetUserId() == Model.UserId))
            {
                <i class="icon remove circle link" data-content="Xóa" style="float: right" onclick="document.location.href = '@Url.Action("DeletePost", "Newsfeed", new {postId = Model.Id})';"></i>
                <i class="icon edit link" data-content="Sửa" style="float: right" onclick="document.location.href =
    '@Url.Action("EditPost", "Newsfeed", new {postId = Model.Id})';"></i>
            }
            else
            {
                <i class='icon announcement link' id="reportPost" data-content='Báo cáo' style='float: right'></i>
                <div id="ShowReportPost">
                    @Html.Partial("../Newsfeed/_Report", new ReportViewModal(Model.Id, Model.UserId));    
                </div>                
                <script>
                    $("#reportPost")
                      .click(function () {
                          $('.small.modal').modal({
                              allowMultiple: false
                          });
                          $('.second.modal').modal('attach events', '.report.modal .green.button')
                          ;
                          $('.report.modal').modal('show');
                      });
                </script>
            }
        </div>

        <div class="meta">
                @{
                    DateTime start = DateTime.Now;
                    // Do some work
                    TimeSpan timeDiff = DateTime.Now - @Model.CreatedDate;

                }
                @{

                    if (timeDiff.TotalDays >= 30)
                    {
                        <span  style="color: grey; margin-left: 40px">  Tạo ngày @Model.CreatedDate.Date </span>
                    }
                    else if (timeDiff.TotalHours >= 24)
                    {
                        <span  style="color: grey; margin-left: 40px">@Math.Round(timeDiff.TotalDays) ngày trước </span>
                    }
                    else if (timeDiff.TotalMinutes >= 60)
                    {
                        <span style="color: grey; margin-left: 40px">@Math.Round(timeDiff.TotalHours) giờ trước </span>
                    }
                    else if (timeDiff.TotalSeconds >= 60)
                    {
                        <span style="color: grey; margin-left: 40px">@Math.Round(timeDiff.TotalMinutes) phút trước </span>
                    }
                    else
                    {
                        <span style="color: grey; margin-left: 40px">Vừa xong </span>
                    }

                }

         

        </div>

        @*<div class="ui  header">@Model.UserName</div>*@





    </div>
    <div class="ui centered  card" style="width: 95%;border-color: #fff">
        <div class="image">

            @{
                if (Model.Illustrations != null && Model.Illustrations.Count > 1)
                {

                    <div class="carousel" data-flickity>
                        @foreach (var ill in Model.Illustrations)
                        {
                            <div class="carousel-cell"><img src="@ill.PhotoLink" class="center-cropped"/>
                            </div>
                        }



                    </div>

                }
                else if (Model.Illustrations != null)
                {

                    
                            
                                <img src="@Model.Illustrations[0].PhotoLink" />
                        
                      

                }
            }
        </div>

        <div class="content">
            <div id="rate" class="ui star rating right floated" data-rating="3"></div>
            <div class="header">@Model.Title</div>
            <div class="meta">
            </div>
            <div class="description" style="font-size: 18px">
                @Model.Description
            </div>
            <div class="extra content">
                <i class="icon home"></i>
                <a class="item" onclick="location.href='@Url.Action("ShowMap", "Map", new { @Model.PostLocation.XCoordinate, @Model.PostLocation.YCoordinate, @Model.PostType,postId = @Model.Id})'">@Model.PostLocation.Address</a>
                @{
                    string url = "http://www.phimmoi.net/phim/nguoi-vo-tuyet-voi-3976/";
                    string iframeUrl = "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A51801%2FPost%2FShowPostDetail%3FpostId%3D" + Model.Id + "&amp;src=sdkpreparse";
                }

                <div class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                <div class="fb-share-button" data-href="@url" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank" href="@iframeUrl">Chia sẻ</a>
                </div>
                <div class="fb-comments" style="width: 100%" data-href="@url" data-numposts=""></div>

                <script>
                   
                  
                    FB.Event.subscribe('comment.create',
                        function (response) {
                            onCommentCreate(response.commentID);
                        });
                
                    function onCommentCreate(commentID) {
                        $.ajax({
                            type: 'GET',
                            url: '/Newsfeed/getCommentor',
                            data: { commentid: commentID },
                            success: function (result) {
                                alert(result + "asdasd");
//                                pushNotification("@Url.Action("ShowPost","Newsfeed",new {postId=Model.Id})", "@Model.Title", "@Model.UserId");

                            }                            
                        });
                    }
                    FB.XFBML.parse();

                </script>
               

            </div>
        </div>


    </div>
    
    

    </div>
    
   
