<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1615798268744410',
            xfbml: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        FB.Event.subscribe('comment.remove', comment_callback);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="ui grid">
    <div class="four wide column"></div>
  
    @using Microsoft.AspNet.Identity
@using OneVietnam.Models
    @model OneVietnam.Models.PostViewModel
        <div class="seven wide column">
    <div class="ui  fluid raised  segment ">
        <div class="header">

            <img class="ui mini avatar image" src="@Model.AvartarLink">
            <a href="@Url.Action("Index", "Timeline", new {userID = @Model.UserId})">@Model.UserName</a>

            <div class="ui right floated button" style="background: white!important">
                @if (User.Identity.IsAuthenticated && (User.Identity.GetUserId() == Model.UserId))
            {
                    <i class="red large remove circle link icon" data-content="Xóa" style="float: right" onclick="document.location.href = '@Url.Action("DeletePost", "Newsfeed", new {postId = Model.Id})';"></i>
                    <i class="blue large write link icon" data-content="Sửa" style="float: right" onclick="document.location.href =
    '@Url.Action("EditPost", "Newsfeed", new {postId = Model.Id})'"></i>
                }
                else
                {
                    <i class='blue large announcement link icon' id="reportPost" data-content='Báo cáo' style='float: right'></i>
                    <div id="ShowReportPost">
                        @Html.Partial("../Newsfeed/_Report", new ReportViewModal(Model.Id, Model.UserId))
                    </div>
                    <script>
                    $(".modal")
                         .modal({
                             allowMultiple: true
                         });
                    $('.second.modal').modal('attach events', '.report.modal .green.button');
                    $('.report.modal').modal('attach events', '#reportPost');
                    $(".green.button").click(function () {
                            $('.report.modal').modal('hide');
                        });
                    </script>
                }
            </div>

            <div class="meta">
                <span > @Model.TimeInterval </span>                     
            </div>

            @*<div class="ui  header">@Model.UserName</div>*@





        </div>
        <div class="ui centered  card" style="width: 95%; border-color: #fff">
            <div class="image">

                @{
                    if (Model.Illustrations != null && Model.Illustrations.Count > 1)
                    {

                        <div class="carousel" data-flickity>
                            @foreach (var ill in Model.Illustrations)
                            {
                                <div class="carousel-cell"><img src="@ill.PhotoLink" class="center-cropped"/>
                                </div>
                            }



                        </div>

                    }
                    else if (Model.Illustrations != null && Model.Illustrations.Count == 1)
                    {



                        <img src="@Model.Illustrations[0].PhotoLink"/>



                    }
                }
            </div>

            <div class="content">
                <div id="rate" class="ui star rating right floated" data-rating="3"></div>
                <div class="header">@Model.Title</div>
                <div class="meta">
                </div>
                <div class="description" style="font-size: 18px">
                    @Model.Description
                </div>
                <i class="world icon"></i>
                <a class="item" onclick="location.href='@Url.Action("ShowMap", "Map", new { @Model.PostLocation.XCoordinate, @Model.PostLocation.YCoordinate, @Model.PostType,postId = @Model.Id})'">@Model.PostLocation.Address</a>

                <div class="extra content">
                           @{
                        string url = "http://www.phimmoi.net/phim/nguoi-vo-tuyet-voi-3976/";
                        string iframeUrl = "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A51801%2FPost%2FShowPostDetail%3FpostId%3D" + Model.Id + "&amp;src=sdkpreparse";
                    }

                    <div class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                    <div class="fb-share-button" data-href="@url" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank" href="@iframeUrl">Chia sẻ</a>
                    </div>
                    <div class="fb-comments" style="width: 100%" data-href="@url" data-numposts=""></div>

                    <script>


                        // In your JavaScript
                        var comment_callback = function(response) {
                            alert("comment_callback");
                        }

                        function onCommentCreate(commentID) {
                            $.ajax({
                                type: 'GET',
                                url: '/Newsfeed/getCommentor',
                                data: { commentid: commentID },
                                success: function(result) {
                                    alert(result);
                                    pushNotification("@Url.Action("ShowPost", "Newsfeed", new {postId = Model.Id})",
                                        "@Model.Title",
                                        "@Model.UserId");

                                }
                            });
                        }

                        FB.XFBML.parse();

                    </script>



                </div>
            </div>


        </div>



    </div>

</div>


</div>