@model OneVietnam.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<script src="~/Scripts/getAddressRegister.js" language="javascript" type="text/javascript"></script>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {

        using (Html.BeginForm("ExternalLogin", "Account", new
        {
            ReturnUrl = Model.ReturnUrl,
            locationExternal = Model.LocationExternal,
            xCoordinateExternal = Model.XCoordinateExternal,
            yCoordinateExternal = Model.YCoordinateExternal
        }, FormMethod.Post, new { id = "ExternalForm",@class="ui form" }))
        {
            @Html.AntiForgeryToken()            
            @Html.TextBoxFor(m => m.XCoordinateExternal, new { style = "display: none;", id = "XCoordinateExternal" })
            @Html.TextBoxFor(m => m.YCoordinateExternal, new { style = "display: none;", id = "YCoordinateExternal" })
            <div class="field">
                @Html.ValidationMessageFor(m => m.LocationExternal, "", new { @class = "input-error-message" })
                <div class="ui left icon corner labeled disabled input">
                    <i class="location arrow icon"></i>
                    @Html.TextBoxFor(m => m.LocationExternal, new {id = "LocationExternal", @placeholder = "Địa chỉ hiện tại của bạn", @readonly = true})
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
            </div>
            foreach (AuthenticationDescription p in loginProviders)
            {                
                <button class="ui @p.AuthenticationType.ToLower() button " type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Đăng Nhập Bằng @p.Caption account">
                    <i class="@p.AuthenticationType.ToLower() icon"></i>
                    Đăng Nhập Bằng @p.AuthenticationType
                </button>
            }
        }
    }
}
