@using Microsoft.Ajax.Utilities
@using OneVietnam.Common
@using OneVietnam.Models
@model OneVietnam.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng Ký";
}
<div class="ui grid">
    <div class="three wide column">

    </div>
    <div class="ten wide column">
        <h2>@ViewBag.Title</h2>  
        <div class="ui segment">
            <div class="ui grid">
                <div class="eight wide column">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div class="field">
                            @Html.LabelFor(m=>m.UserName)
                            <div class="ui left icon corner labeled input">
                                <i class="user icon"></i>
                                @Html.TextBoxFor(m => m.UserName, new {@placeholder = "Họ và tên"})
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.Email)
                            <div class="ui left icon corner labeled input">
                                <i class="user icon"></i>
                                @Html.TextBoxFor(m => m.Email, new {@placeholder = "Email"})
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="Gender" value=@Convert.ToInt32(Gender.male) checked="checked">
                                    <label>Nam</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="Gender" value=@Convert.ToInt32(Gender.female)>
                                    <label>Nữ</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="Gender" value=@Convert.ToInt32(Gender.Other)>
                                    <label>Giới tính khác</label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.Password)
                            <div class="ui left icon corner labeled input">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(m => m.Password, new {@placeholder = "Mật khẩu"})
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            <div class="ui left icon corner labeled input">
                                <i class="lock icon"></i>
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@placeholder = "Nhập lại mật khẩu"})
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.XCoordinate, new { style = "display: none;", id = "XCoordinate" })
                        @Html.TextBoxFor(m => m.YCoordinate, new { style = "display: none;", id = "YCoordinate" })
                        <div class="field">
                            @Html.LabelFor(m => m.Address)
                            <div class="ui left icon corner labeled disabled input">
                                <i class="location arrow icon"></i>
                                @Html.TextBoxFor(m => m.Address, new {id = "Address", @placeholder = "Địa chỉ hiện tại của bạn", @readonly = true})
                                <div class="ui corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                        </div>
                        <button class="ui blue button" type="submit">Đăng Ký</button>
                    }
                </div>
                <div class="eight wide column" style="text-align: center; margin-top: 20%">
                    @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




