@model OneVietnam.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
}

<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <h2>@ViewBag.Title.</h2>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class = "ui form", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.Code)
            <div class="field">
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "input-error-message"})
                <div class="ui left icon corner labeled input">
                    <i class="user icon"></i>
                    @Html.TextBoxFor(m => m.Email, new {@placeholder = "Email"})
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "input-error-message"})
                <div class="ui left icon corner labeled input">
                    <i class="lock icon"></i>
                    @Html.PasswordFor(m => m.Password, new {@placeholder = "Mật khẩu"})
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon corner labeled input">
                    <i class="lock icon"></i>
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@placeholder = "Nhập lại mật khẩu"})
                    <div class="ui corner label">
                        <i class="asterisk icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <button class="ui blue button" type="submit">Đặt lại mật khẩu</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
