@model OneVietnam.Models.SendCodeViewModel
@{
   
}
@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "ui form", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)


    <div class="ui grid">
       
        <div class="three wide column"></div>
        <div class="eleven wide column">
            <h4>Gửi mã bảo mật</h4>
            Chọn cách mà bạn muốn nhận mã bảo mật:
            <div class="field">
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            </div>
            <input type="submit" value="Chọn" class="ui blue button"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
