@model OneVietnam.Models.VerifyCodeViewModel
<div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui segment">
           @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "ui form", role = "form" }))
           {
            @Html.Hidden("provider", @Model.Provider)
            @Html.Hidden("rememberMe", @Model.RememberMe)

               <h4 class="ui red header">Mã xác nhận không chính xác!</h4>
            <div class="ui button" id="resendCode">Gửi lại</div>
               <hr/>
             
                <div class="field">
                    @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
                    <div class="ui input">
                        @Html.TextBoxFor(m => m.Code, new {@class = "form-control", style = "max-width: 200px"})
                    </div>
                    
                </div>
                <div class="ui checkbox">
                    @Html.CheckBoxFor(m => m.RememberBrowser)
                    @Html.LabelFor(m => m.RememberBrowser)
                </div>
                <div class="ui item" style="text-align: center">
                    <input type="submit" class="ui teal button" value="Tiếp tục" />
                </div>
                }
            </div>
    </div>
</div>

@section Scripts {
<script>
        $("#resendCode")
            .on("click",
                function () {
                    $("#resendCode").addClass("loading");
                    var selected = $("#provider").val();
                    var returned = $("#returnUrl").val();
                    $.ajax({
                        type: 'GET',
                        url: "/Account/_VerifyCode",
                        data: { provider: selected, returnUrl: returned },
                        success: function (partialResult) {
                            $("#resendCode").removeClass("loading");
                            $("#resendCode").val("Đã gửi");
                        }
                    });
                });
</script>
    @Scripts.Render("~/bundles/jqueryval")
}
