@using OneVietnam.DTL;
@model OneVietnam.Models.CreatePostViewModel

@{

    ViewBag.Title = "CreatePost";
    List<Tag> tagList = ViewData["TagList"] as List<Tag>;
    List<Icon> postTypes = ViewData["PostTypes"] as List<Icon>;

}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<div class="ui modal" >
    <div class="modal-container">

        @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="ui form">
                @Html.AntiForgeryToken()
                <div class="header">
                    <div class="ui input transparent focus">
                        <input id="Title" name="Title" type="text" placeholder="Title...">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="content">

                    <div class="two field">

                        <div class="field">

                            <div class="ui  selection dropdown">
                                <input type="hidden" id="PostType" name="PostType">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn loại bài đăng</div>
                                <div class="menu">
                                    @{
                                        if (postTypes != null)
                                        {
                                            foreach (Icon icon in postTypes)
                                            {
                                                <div class="item" data-value="@icon.IconId">
                                                    <img class="ui mini avatar image" src="@icon.IconImage">
                                                    @icon.IconText
                                                </div>
                                            }
                                        }
                                    }

                                </div>
                            </div>
                        </div>

                       




                        <div class="ui fluid multiple search selection dropdown">
                            <input name="tags" id="tags" type="hidden" value="">
                            <input class="search" autocomplete="off" tabindex="0"><span class="sizer"></span><div class="default text">Tag liên quan</div>
                            <div class="menu transition hidden" tabindex="-1">

                                @{
                                    if (tagList != null)
                                    {
                                        foreach (Tag tag in tagList)
                                        {
                                            <div class="item" data-value="@tag.TagValue">@tag.TagText</div>
                                        }
                                    }
                                }

                            </div>
                        </div>


                    </div>

                    <div class="field">
                        <label>Mô tả </label>
                        <textarea rows="4" tabindex="4" id="Description" name="Description" value=""></textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="PostLocation.Address" data-valmsg-replace="true"></span>

                    </div>
                    <button id="imgUpload " type="button"><i class="photo icon"></i></button>                    
                    <div class="dropzone" id="myId">
                        <div class="fallback">
                            <input id="files" multiple="" name="files" type="file">
                        </div>
                    </div>

                </div>

                <div class="actions">
                    <input id="btnCreate" type="submit" tabindex="6" value="Post" class="ui primary button" />
                    <div class="ui cancel button">Cancel</div>
                </div>
            </div>
                                    }
    </div>
</div>