@using OneVietnam.DTL
@model OneVietnam.Models.PostViewModel

@{
    ViewBag.Title = "ShowCreatedPost";
    List<Tag> tagList = ViewData["TagList"] as List<Tag>;
    List<Icon> postTypes = ViewData["PostTypes"] as List<Icon>;
    string strPostId = ViewData["PostId"] as string;
}

<h2>ShowCreatedPost</h2>
@using (Html.BeginForm("ShowCreatedPost", "Post", FormMethod.Post))
{
    <div>        
        <input type="hidden" name="PostId" id="PostId" value="@strPostId"/>
        <div>
            <table>
                <tr>
                    <td>
                        <div id="uploadList">
                            @{
                                if (Model.Illustrations != null)
                                {
                                    foreach (var ill in Model.Illustrations)
                                    {
                                        <div class="ui image">                                            
                                            <img src="@ill.PhotoLink" />
                                            <input name="Img" id="Img" type="hidden" value="@ill.PhotoLink" />
                                            <input name="Des" id="Des" type="text" disabled="disabled" value="@ill.Description" />
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th colspan="2"><label for="Title">Tiêu đề</label></th>
                                <td>
                                    <input id="Title" name="Title" type="text" value="@Model.Title" tabindex="1" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><label for="PostType">Loại bài đăng</label></th>
                                <td>
                                    <div class="ui fluid selection dropdown disabled">
                                        <input type="hidden" id="PostType" name="PostType" value="@Model.PostType">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Chọn loại bài đăng</div>
                                        <div class="menu">
                                            @{
                                                if (postTypes != null)
                                                {
                                                    foreach (Icon icon in postTypes)
                                                    {

                                                        <div class="item" data-value="@icon.IconId">
                                                            <img class="ui mini avatar image" src="@icon.IconImage">
                                                            @icon.IconText
                                                        </div>
                                                    }
                                                }
                                            }

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><label for="PostLocation_Address">Địa chỉ của bài đăng</label></th>
                                <td>
                                    <input tabindex="3" id="PostLocation_Address" name="PostLocation.Address" type="text" value="@Model.PostLocation.Address" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><label>Ngày đăng</label></th>
                                <td>
                                    <input type="datetime" disabled="disabled" value="@Model.PublishDate" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"><label for="Description">Mô tả </label></th>
                                <td>
                                    <input tabindex="4" id="Description" name="Description" type="text" value="@Model.Description" disabled="disabled" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <label>Thẻ liên quan</label>
                                </th>
                                <td>
                                    <div class="ui fluid multiple search selection dropdown disabled">
                                        @{
                                        string tagValue = "";
                                        if (Model.Tags != null)
                                        {
                                            foreach (var tag in Model.Tags)
                                            {
                                                tagValue = string.IsNullOrEmpty(tagValue) ? tag.TagValue : string.Concat(tagValue + ",", tag.TagValue);
                                            }
                                        }

                                        }
                                        <input name="TagsInput" id="TagsInput" type="hidden" value="@tagValue">
                                        <i class="dropdown icon"></i>
                                        <input class="search" autocomplete="off" tabindex="0"><span class="sizer"></span><div class="default text">Chọn hoặc tạo thẻ mới</div>
                                        <div class="menu transition hidden" tabindex="-1">

                                            @{
                                            if (tagList != null)
                                            {
                                                foreach (Tag tag in tagList)
                                                {
                                        <div class="item" data-value="@tag.TagValue">@tag.TagText</div>
                                                }
                                            }
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th><label for="Status">Trạng thái bài đăng</label></th>
                                <td>
                                    @if (Model.Status)
                                    {
                                        <label id="Status">Đang hoạt động</label>
                                    }
                                    else
                                    {
                                        <label id="Status">Đã đóng</label>
                                    }
                                </td>


                            </tr>


                        </table>


                    </td>


                </tr>


            </table>


        </div>


        <input id="btnEdit" type="submit" value="Sửa bài đăng" class="btn btn-default"/>
        <input id="btnDel" type="button" value="Xóa bài đăng" class="btn btn-default" onclick="document.location.href='@Url.Action("DeletePost", "Post", new { postId = strPostId})';"/>
    </div>
                                                }
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="http://localhost:51801/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.myHub;
            // Create a function that the hub can call back to display messages.
            chat.client.loadNewPost = function (newPost) {
                // Add the message to the page.
                console.log(newPost);

            };
            $.connection.hub.start().done(function () {

                //do nothing
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
