@using System.Web.Configuration
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - One Vietnam</title>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBiPDMBCKXsusl5-BgCw1nIyHwu5u3j8xw&libraries=places,geometry"></script>    
    @Scripts.Render("~/bundles/jquery")
    
    @Styles.Render("~/semantic/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=1615798268744410";
        fjs.parentNode.insertBefore(js, fjs);

    }(document, 'script', 'facebook-jssdk'));
</script>
    <div class="ui grid">
        <div class="computer only row">
            <div class="ui main menu mainMenu">
                <a href="@Url.Action("Index", "Home")" class="ui middle aligned item">
                    <img src="/Content/Icon/symbol.jpg" class="ui avatar image"/>
                    <span style="font-size: 2em; color: #000000">neVietnam</span>
                </a>
                @Html.ActionLink("Bản Đồ", "ShowMap", "Map", routeValues: null, htmlAttributes: new { @class = "ui item", style= "color: #000000;" })
                @Html.ActionLink("Bảng Tin", "Index", "Newsfeed", routeValues: null, htmlAttributes: new { @class = "ui item", style = "color: #000000" })
                <div class="floating ui label" style="color:#DE5958 ">42+</div>
                @if (Request.IsAuthenticated && (User.IsInRole(CustomRoles.Admin) || User.IsInRole(CustomRoles.Mod)))
                {
                    @Html.ActionLink("Quản Trị", "Index", "Administration", routeValues: null, htmlAttributes: new { @class = "ui item", style = "color: #000000" })
                }
                <div class="right menu">
                    <div class="item">
                        <select class="ui dropdown searchType">
                            <option value="SearchPosts" selected="selected">
                                Bài Viết
                            </option>
                            <option value="SearchUsers">
                                Bạn Bè
                            </option>
                        </select>
                        <div class="ui search post" id="SearchPosts">
                            <div class="ui left icon input" style="width: 300px !important">
                                <i class="newspaper icon"></i>
                                <input class="prompt" id="textPostSearch" type="text" placeholder="Tìm Kiếm...">
                            </div>
                            <div class="force100 results"></div>
                        </div>
                        <div class="ui search user " id="SearchUsers">
                            <div class="ui left icon input" style="width: 300px !important">
                                <i class="users icon"></i>
                                <input class="prompt" id="textUsersSearch" type="text" placeholder="Tìm Kiếm...">
                            </div>
                            <div class="force100 results"></div>
                        </div>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="tablet mobile only row" style="padding-bottom: 0em !important;">
            <div class="ui main menu">
                <a href="@Url.Action("Index", "Home")" class="ui item brand">                    
                    One Vietnam
                </a>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="sidebar icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui fluid vertical menu open">
                <div class="ui inline">
                    <select class="ui dropdown searchType ">
                        <option value="SearchPosts" selected="selected">
                            Bài Viết
                        </option>
                        <option value="SearchUsers">
                            Bạn Bè
                        </option>
                    </select>
                    <div class="ui search post" id="SearchPostsM">
                        <div class="ui left icon input" style="width: 300px !important">
                            <i class="newspaper icon"></i>
                            <input class="prompt" id="textPostSearch1" type="text" placeholder="Tìm Kiếm...">
                        </div>
                        <div class="force100 results"></div>
                    </div>
                    <div class="ui search user " id="SearchUsersM">
                        <div class="ui left icon input" style="width: 300px !important">
                            <i class="users icon"></i>
                            <input class="prompt" id="textUsersSearch1" type="text" placeholder="Tìm Kiếm...">
                        </div>
                        <div class="force100 results"></div>
                    </div>
                </div>
                @Html.ActionLink("Bản Đồ", "ShowMap", "Map", routeValues: null, htmlAttributes: new { @class = "ui item" })
                <a href="" class="ui item">Bảng Tin</a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div class="ui fluid container" style="height: 90%; background-color: #ffffff;" id="bodypage">
    @*@if (User.Identity.IsAuthenticated)
    {

        <div class="floating-button" id="stamp-button2" data-toggle="tooltip" data-original-title="Create">
            <p class="plus">
                <i class="write icon"></i>
            </p>
            <p class="edits">
                <i class="remove icon"></i>
            </p>
        </div>
    }
    else
    {
        <a href="@Url.Action("Login", "Account",new { ReturnUrl= "/Newsfeed"}))">
            <div class="floating-button" data-toggle="tooltip" data-original-title="Create">

                <p class="plus">
                    <i class="write icon"></i>
                </p>

            </div>
        </a>
    }*@
    @RenderBody()
    <div id="forModal" class="ui basic modal coupled" style="position: absolute !important; height: 1000px; width: 100%">
        <div class="ui  raised clearing  segment " style="width: 631px !important">
            <div class="header">


                <div class="ui right floated button" style="background: white !important">
                    {

                    }
                    else
                    {
                    <i class='blue large announcement link icon' id="reportPost" data-content='Báo cáo' style='float: right'></i>
                    <div id="ShowReportPost">
                    </div>
                    }
                </div>

                <div class="meta">
                    <span style="color: grey; margin-left: 40px; font-size: 14px !important"> </span>



                </div>






            </div>
            <div class="ui centered  card" style="width: 95%; border-color: #fff">
                <div class="image">


                </div>

                <div class="content">
                    <div id="rate" class="ui star rating right floated" data-rating="3"></div>
                    <div class="header"></div>
                    <div class="meta">
                    </div>
                    <div class="description" style="font-size: 18px">

                    </div>
                    <i class="world icon"></i>


                    <div class="extra content">
                        @{
                            string url = "http://www.phimmoi.net/phim/nguoi-vo-tuyet-voi-3976/";
                        }

                        <div class="fb-like" data-href="@url" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                        <div class="fb-share-button" data-href="@url" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                            <a class="fb-xfbml-parse-ignore" target="_blank" href="">Chia sẻ</a>
                        </div>
                        <div class="fb-comments" style="width: 100%" data-href="@url" data-numposts="3"></div>

                        <script>


                     

                        </script>


                    </div>
                </div>


            </div>



        </div>
    </div>
    
    @if (Request.IsAuthenticated)
    {
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script type="text/javascript" src="~/Scripts/Chat.js"></script>
        <script type="text/javascript" src="~/Scripts/Notification.js"></script>
        <script>
            var chat;
            $(function() {
                // Reference the auto-generated proxy for the hub.
                if (typeof (chat) === "undefined") {
                    chat = $.connection.oneHub;
                }
                //chat.client.logOff = function() {
                //        $.connection.hub.stop();
                //    }
                //Create a function that the hub can call back to display messages.
                chat.client.addChatMessage = function(id, name, message, avatar) {
                    register_popup(id, name, avatar);
                    // Add the message to the page.
                    $("#" + id + "Conversation")
                        .append('<div class="item"><div class="content" style="margin-left:0.5em"><p class="receiveMessage">' + htmlEncode(message) + '</p></div></div>');
                    $("#" + id + "Conversation").scrollTop(document.getElementById(id + "Conversation").scrollHeight);

                };
                chat.client.pushNotification = function() {
                    if ($('#NotificationsNo').text() == '') {
                        $('#NotificationsNo').show();
                        $('#NotificationsNo').text('1');
                    } else {
                        $('#NotificationsNo').text(parseInt($('#NotificationsNo').text()) + 1);
                        $('#NotificationsNo').show();
                    }
                }
                //var notification = {}
                //chat.client.pushAdministrationNotification= function() {

                //}
                // Start the connection.
                $.connection.hub.start()
                    .done(function() {
                    });
            });
            $(function() {
                var controller = "/Home/GetMessageNo";
                var data = {
                    id: '@User.Identity.GetUserId()'
                }
                $.ajax({
                    type: 'POST',
                    url: controller,
                    data: data,
                    success: function(data, textstatus) {
                        if (data == '') {
                            $('#MessageNotification').text('');
                            $('#MessageNotification').hide();
                        } else {
                            $('#MessageNotification').show();
                            $('#MessageNotification').text(data);
                        }
                    }
                });
            });
            $(function() {
                var controller = "/Home/GetNotificationsNo";
                $.ajax({
                    type: 'POST',
                    url: controller,
                    success: function(data) {
                        if (data == '' || data == '0') {
                            $('#NotificationsNo').text('0');
                            $('#NotificationsNo').hide();
                        } else {
                            $('#NotificationsNo').show();
                            $('#NotificationsNo').text(data);
                        }
                    }
                });
            });
        </script>
        <div id="ChatZone">            
        </div>
    }


</div>
    @Scripts.Render("~/bundles/semantic")
    @Scripts.Render("~/bundles/Scripts")
    @Scripts.Render("~/Scripts/Map")
    @RenderSection("scripts", required: false)
</body>
</html>
