<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - One Vietnam</title>
    @Styles.Render("~/semantic/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="ui grid">
        <div class="computer tablet only row">
            <div class="ui main menu">                
                <a href="/" class="ui item brand">
                    <img src="~/Content/Images/logo.png"/>
                    One Vietnam
                </a>
                <a href="" class="ui item">Bản Đồ</a>
                <a href="" class="ui item">Bảng Tin</a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Search...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="mobile only row">
            <div class="ui main menu">
                <a href="/" class="ui item brand">
                    <img src="~/Content/Images/logo.png"/>
                    One Vietnam
                </a>                
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="content icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui fluid vertical menu open">
                <div class="ui search">
                    <div class="ui icon input fluid">
                        <input class="prompt" type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results fluid"></div>
                </div>
                <a href="" class="ui item">Bản Đồ</a>
                <a href="" class="ui item">Bảng Tin</a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>    
    <div class="ui container">
        @RenderBody()
        <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
    @Scripts.Render("~/bundles/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
