@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{    
    <div class="item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ui form" }))
        {
            @Html.AntiForgeryToken()
            <a href="/Timeline/Timeline?userId=@User.Identity.GetUserId()" id="txtHeaderUserName" style="color: white">
                <img class="ui avatar image" src="~/Content/Images/Avatar_Default.jpg" />
                <span>@User.Identity.GetUserName()&nbsp;</span>
            </a>
        }
        <div class="ui icon buttons">
            <div class="ui top right pointing dropdown button" style="background: rgba(0, 0, 0, 0); color: white" id="myConversations">
                <i class="comments icon"></i>
                <div class="floating ui tiny red label" id="MessageNotification" style="display: none"></div>
                <div class="menu" id="Conversations">
                    <div class="item conversations">
                        <div class="content">
                            <div class="ui active inverted dimmer">
                                <div class="ui text loader">Loading</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui top right pointing dropdown button" style="background: rgba(0, 0, 0, 0); color: white">
                <i class="alarm icon"></i>
                <div class="floating ui tiny teal label">3</div>
                <div class="menu" id="Notifications">
                    <div class="item notifications" style="padding:0em!important" >
                        <a class="item" style="padding: 0 !important">
                            <div class="item">
                                <div class="ui mini image" style="margin-right: 1em !important">
                                    <img class="ui mini image" src="/Content/Images/Avatar_Default.jpg"/>
                                </div>
                                <div class="content">
                                    <div class="description notification" style="width: 15em !important; word-wrap: break-word">
                                        <p>
                                            Bạn abc vừa commend vào bài post của bạn thì có làm sao khong ahihi
                                        </p>
                                    </div>
                                    <div class="extra">
                                        <i>@DateTimeOffset.Now.DateTime.ToString()</i>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a>
                            <i class="minus circle red icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui top right button" style="background: rgba(0, 0, 0, 0); color: white">
                <a href="javascript:document.getElementById('logoutForm').submit()" style="color: white">
                    <i class="power icon"></i>
                </a>
            </div>
        </div>
    </div>    
}
else
{
    <div class="item">
        @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid primary button" })
    </div>
    <div class="item">
        @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid primary button" })
    </div>
}
