@using System.Security.Claims
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ui form" }))
        {
            var avatar = ((ClaimsIdentity)User.Identity).FindFirst("Avatar").Value;
            @Html.AntiForgeryToken()
            <a href="@Url.Action("Index","Timeline",new {Id=User.Identity.GetUserId()})" id="txtHeaderUserName" style="color: #000000">
                <img class="ui avatar image" src="@avatar" />
                <span>@User.Identity.GetUserName()&nbsp;</span>
            </a>
        }
        <div class="ui icon buttons">
            <div class="ui top right pointing dropdown button" style="background: rgba(0, 0, 0, 0)" id="myConversations">
                <i class="comments large icon"></i>
                <div class="floating ui tiny red label" id="MessageNotification" style="display: none"></div>
                <div class="menu" id="Conversations">
                    <div class="item conversations">
                        <div>This content only for temp...</div>
                    </div>
                </div>
            </div>
            <div class="ui top right pointing dropdown button" id="myNotifications" style="background: rgba(0, 0, 0, 0)">
                <i class="alarm large icon"></i>
                <div class="floating ui tiny teal label" id="NotificationsNo" style="display: none"></div>
                <div class="menu" id="Notifications">
                    <div class="item notifications" style="padding:0em!important">
                        <div>This content only for temp...</div>
                    </div>
                </div>
            </div>
            <div class="ui top right button" style="background: rgba(0, 0, 0, 0)">
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="grey power large icon"></i>
                </a>
            </div>
        </div>
    </div>
}
else
{
    <div class="item">
        @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid blue button" })
    </div>
    <div class="item">
        @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "ui fluid blue button" })
    </div>
}
