@using Microsoft.AspNet.Identity
@model OneVietnam.Models.PostViewModel
<div class="grid-item  @Model.PostType">
    <div class="ui fluid  card">
        
        @{
            if (Model.Illustrations != null && Model.Illustrations.Count > 0)
            {
                <div class="ui  image clickable">
                    <img src="@Model.Illustrations[0].PhotoLink" class="visible content"/>
                </div>               
            }
        }
        <div class="content clickable ">
            <div class="meta">
                @{
                    DateTime start = DateTime.Now;
                    // Do some work
                    TimeSpan timeDiff = DateTime.Now - @Model.CreatedDate;

                }
                @{

                   if (timeDiff.TotalDays >= 30)
                   {
                    <span>  Tạo ngày @Model.CreatedDate.Date </span>
                   }
                   else if (timeDiff.TotalHours >=24 )
                   {
                    <span>@Math.Round(timeDiff.TotalDays) ngày trước </span>
                   }else if (timeDiff.TotalMinutes >=60 )
                   {
                    <span>@Math.Round(timeDiff.TotalHours) giờ trước </span>
                   }else if (timeDiff.TotalSeconds >=60 )
                   {
                    <span>@Math.Round(timeDiff.TotalMinutes) phút trước </span>
                   }else 
                   {
                    <span>Vừa xong </span>
                   }
            }
            </div>
            <div class="header " style="word-break: break-all">
                @Model.Title
            </div>
            <div class="description " style="word-break: break-all">
                @Model.Description
            </div>


            @*                <div class="right floated meta marker">*@
            @*                    @if (Model.Status)*@
            @*                    {*@
            @*                        <i class="teal star icon" data-content="Đang hoạt động"></i>*@
            @**@
            @*                    }*@
            @*                    else*@
            @*                    {*@
            @*                        <i class="red minus circle icon" data-content="Đang đóng"></i>*@
            @*                    }*@
            @*                </div>*@
            @*                <div class="right floated meta marker hides">*@
            @*                    @if (User.Identity.IsAuthenticated && (User.Identity.GetUserId() == Model.UserId))*@
            @*                    {*@
            @*                        <i class="icon remove circle link" data-content="Xóa" style="float: right" onclick="document.location.href = '@Url.Action("DeletePost", "Post", new {postId = Model.Id})';"></i>*@
            @*                        <i class="icon edit link" data-content="Sửa" style="float: right" onclick="document.location.href =*@
            @*                    }*@
            @*                    else*@
            @*                    {*@
            @*                        <i class='icon announcement link' data-content='Báo cáo' style='float: right'></i>*@
            @**@
            @*                    }*@
            @*                </div>*@



        <input type="text" class="hides" id="postId" value="@Model.Id" />


        </div>
    <div class="extra content">
        <img class="ui avatar image" src="@Model.AvartarLink">
        <a href="@Url.Action("Index","Timeline",new {Id=@Model.UserId})">@Model.UserName</a> 
    </div>
     
    </div>
</div>