@using OneVietnam.Models
@model OneVietnam.Models.UserViewModel
<div class="ui link card user-card">

    <div class="content" onclick="gotoTimeline('@Model.UserId')">
        <img class="right floated mini ui image" src="@Model.Avatar">
        <div class="header">
            @Model.UserName
        </div>
        <div class="meta">
            @Model.Location.Address
        </div>
        <div class="description">
          Tham gia @Model.JoinedDate
         </div>
    </div>
    <div class="extra content">
        <div class="ui two buttons">
            <a class="ui basic green button" href="javascript: register_popup('@Model.UserId','@Model.UserName','@Model.Avatar')">Nhắn tin</a>
            <div class="ui basic red button" id="reportUser_@Model.UserId">Báo cáo</div>
        </div>
    </div>
    <div id="ShowReportUser_@Model.UserId">
        @Html.Partial("../Timeline/_ReportUser", new ReportViewModel(Model.UserId))
    </div>
    <script>
        $("#reportUser_@Model.UserId")
            .click(function () {
                $("#modalReport_@Model.UserId").modal('show');
            });
    </script>
</div>